h1{
    font-size: 50px;
}
h2{
    color: crimson;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
    
}
.link-button{
    text-size-adjust: 700px;
    text-decoration: none;
    background-color: fuchsia;
    padding: 10px 20px;
    border-radius: 10px;
}
span{
    color: gold;
}
.text{
    text-align: center;
}
.border{
    box-shadow: darkgray;
    white-space: pre-line;
}
.cartoon{
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 10px gray;
    padding-left: 20px;
    border-radius: 10px solid;
}
.top{
    position: top;
}
.shado{
    background-image: url(images/shape-1.png);
    background-position:left;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 900px;
}
.iast{
    text-align: center;
}
p{
text-size-adjust: 1000px;
}
footer{
    text-align: center;
    background-color: black;
}
.colour{
    color: blanchedalmond;
}